# Housing Values in Suburbs of Boston
The medv variable is the target variable.

Data description


The Boston data frame has 506 rows and 14 columns.

This data frame contains the following columns:

crim -------------per capita crime rate by town.

zn----------proportion of residential land zoned for lots over 25,000 sq.ft.

indus-----------proportion of non-retail business acres per town.

chas-----------Charles River dummy variable (= 1 if tract bounds river; 0 otherwise).

nox------------nitrogen oxides concentration (parts per 10 million).

rm-------average number of rooms per dwelling.

age-----------proportion of owner-occupied units built prior to 1940.

dis----------weighted mean of distances to five Boston employment centres.

rad-------------index of accessibility to radial highways.

tax----------full-value property-tax rate per $10,000.

ptratio----------pupil-teacher ratio by town.

black--------------1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town.

lstat----------lower status of the population (percent).

medv-----------median value of owner-occupied homes in $1000s.

Source


Harrison, D. and Rubinfeld, D.L. (1978) Hedonic prices and the demand for clean air. J. Environ. Economics and Management 5, 81â€“102.

Belsley D.A., Kuh, E. and Welsch, R.E. (1980) Regression Diagnostics. Identifying Influential Data and Sources of Collinearity. New York: Wiley.

In [1]:
import pandas as pd

boston = pd.read_csv("BostonHousingData.csv")

boston.shape

(506, 14)

In [2]:
boston.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [3]:
boston.columns

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

In [4]:
boston=boston.rename(columns= {"nox" : "nitrogen oxides concentration" , 
                        "rm" : "room",
                        "dis" : "distance",
                        "rad" : "radial highways",
                        "ptratio" : "pupil-teacher ratio ",
                        "b" :  "Black",
                        "lstat" : "lower status in %",
                        "medv" : "prices"})

In [5]:
boston.isnull().any()

crim                             False
zn                               False
indus                            False
chas                             False
nitrogen oxides concentration    False
room                             False
age                              False
distance                         False
radial highways                  False
tax                              False
pupil-teacher ratio              False
Black                            False
lower status in %                False
prices                           False
dtype: bool

In [6]:
boston.head()

,crim,zn,indus,chas,nitrogen oxides concentration,room,age,distance,radial highways,tax,pupil-teacher ratio,Black,lower status in %,prices
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [7]:
boston.columns.duplicated()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False])

In [8]:
boston = boston.astype(int)

In [9]:
boston.head()

,crim,zn,indus,chas,nitrogen oxides concentration,room,age,distance,radial highways,tax,pupil-teacher ratio,Black,lower status in %,prices
0,0,18,2,0,0,6,65,4,1,296,15,396,4,24
1,0,0,7,0,0,6,78,4,2,242,17,396,9,21
2,0,0,7,0,0,7,61,4,2,242,17,392,4,34
3,0,0,2,0,0,6,45,6,3,222,18,394,2,33
4,0,0,2,0,0,7,54,6,3,222,18,396,5,36

In [10]:
set(boston['chas'])

{0, 1}

In [11]:
features = boston.drop('prices', axis = 1)

# splitting data

In [12]:
from sklearn.model_selection import train_test_split
from sklearn import metrics


train,test = train_test_split(boston, test_size=0.3)

print(train.shape, test.shape)

(354, 14) (152, 14)

In [13]:
boston.columns

Index(['crim', 'zn', 'indus', 'chas', 'nitrogen oxides concentration', 'room',
       'age', 'distance', 'radial highways', 'tax', 'pupil-teacher ratio ',
       'Black', 'lower status in %', 'prices'],
      dtype='object')

In [14]:
train_x = train[['crim', 'zn', 'indus', 'chas', 'nitrogen oxides concentration', 'room','age', 'distance', 'radial highways', 'tax', 'pupil-teacher ratio ','Black', 'lower status in %']]
train_y =train.prices

test_x = test[['crim', 'zn', 'indus', 'chas', 'nitrogen oxides concentration', 'room','age', 'distance', 'radial highways', 'tax', 'pupil-teacher ratio ','Black', 'lower status in %']]
test_y = test.prices

# LogisticRegression

In [22]:
from sklearn.linear_model import LogisticRegression

log_model = LogisticRegression()
log_model.fit(train_x,train_y)
prediction = log_model.predict(test_x)


print('the accuracy of LogisticRegression is:', metrics.accuracy_score(prediction, test_y))

from sklearn.metrics import mean_squared_error 
mse = mean_squared_error(test_y, prediction) 
print("Mean Square Error : ", mse)

result = model.predict([[0,0,7,0,0,6,78,4,2,242,17,396,9]])
print(result)

the accuracy of LogisticRegression is: 0.10526315789473684
Mean Square Error :  41.44078947368421
[22]

E:\Ajith\anakonda\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
E:\Ajith\anakonda\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

# DecisionTreeClassifier

In [23]:
from sklearn.tree import DecisionTreeClassifier


model = DecisionTreeClassifier()
model.fit(train_x, train_y)
prediction = model.predict(test_x)
print('the accuracy of Decision tree classifier is:' ,metrics.accuracy_score(prediction,test_y))

mse = metrics.mean_squared_error(test_y, prediction) 
print("Mean Square Error : ", mse)

result = model.predict([[0,0,7,0,0,6,78,4,2,242,17,396,9]])
print(result)

the accuracy of Decision tree classifier is: 0.11842105263157894
Mean Square Error :  30.06578947368421
[21]

# KNeighborsClassifier

In [20]:
from sklearn.neighbors import KNeighborsClassifier

model = KNeighborsClassifier(n_neighbors=20) 
model.fit(train_x, train_y)
prediction = model.predict(test_x)
print('The accuracy of KNN is: ', metrics.accuracy_score(prediction, test_y))

mse = metrics.mean_squared_error(test_y, prediction) 
print("Mean Square Error : ", mse)

result = model.predict([[0,0,7,0,0,6,78,4,2,242,17,396,9]])
print(result)

The accuracy of KNN is:  0.1118421052631579
Mean Square Error :  87.5657894736842
[22]

# Support Vector Mechine

In [21]:
from sklearn import svm 
svm_model = svm.SVC() 

svm_model.fit(train_x, train_y)

prediction = svm_model.predict(test_x)
print('The accuracy of the SVM is: ', metrics.accuracy_score(prediction, test_y)) 

mse = metrics.mean_squared_error(test_y, prediction) 
print("Mean Square Error : ", mse)

result = model.predict([[0,0,7,0,0,6,78,4,2,242,17,396,9]])
print(result)

The accuracy of the SVM is:  0.046052631578947366
Mean Square Error :  84.23684210526316
[22]

E:\Ajith\anakonda\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)